
/* Main part */ 
body {
	font-family: 'Roboto', sans-serif;
	max-width: 1400px;
}
h3  {
	font-size: 35px;
	text-align: center;
	color: #8A31E2;
}
h4 {
	font-size: 22px;
	color: #6152EE;
	text-align: center;
}
.events_branch {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    padding: 0 50px 50px 50px;
}
.event_box {
	margin: 20px;
}
.news_page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-bottom: 30px;

}
.news_card {
    position: relative;
    margin: 10px;
}
.news_img {
    opacity: 1;
    display: block;
    width: 400px;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.news_par {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 400px;
    height: auto;
    transform: translate(0, -50%);

    text-align: center;
}
.news_card:hover .news_img {
    opacity: .1
}
.news_card:hover .news_par {
    opacity: 2;
}
.news_par p {
    color: #6152EE;
    font-size: 17px;
    padding: 16px 25px;
}
.form-control {
	width: 250px;
    background: transparent;
    outline: none;
    border: 1px solid #6152EE;
    border-radius: 30px;
    color: #000;
    font-size: 16px;
    margin: 20px;
    padding: 15px;
}
.reg {
	display: flex;
	justify-content: center;
}
.submit {
	width: 300px;
    background: transparent;
    outline: none;
    border: 1px solid #6152EE;
    border-radius: 30px;
    color: #000;
    margin: 20px;
    padding: 15px;
}
.submit:hover {
	background: #8A31E2;
}
.submit_form {
	    text-align: center;
}
.our_platform {
	display: flex;
	justify-content: space-around;
}
.img_platform img, .text_platform{
	width: 70%;
	margin: 50px;
}
.text_platform {
	text-align: center;
}
.text_platform p {
    margin: 15px;
}
.text_platform a {
	font-size: 18px;
	text-decoration: none;
	color: #000;
	border: 1px solid #6152EE;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}
.text_platform a:hover {
	background: #8A31E2;
}