html {
   background-color: #bbb;
   height: 100%;
  }
.header {
    background-color: rgb(127, 117, 221);
    background-size: cover;
    min-height: 540px;
}
.header_box {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login_btn {
    margin: 0 0 0 30px;
    border: 1px solid #8A31E2;
    border-radius: 30px;
    padding: 10px;
    background-color: #8A31E2;
}
.login_btn:hover {
    -webkit-box-shadow: 0px 0px 70px -1px rgba(0,64,255,1);
    -moz-box-shadow: 0px 0px 70px -1px rgba(0,64,255,1);
    box-shadow: 0px 0px 70px -1px rgba(0,64,255,1);
    color: #fff;
}
.header_img img{

    width: 400px;
}
.header_icon  {
    font-size: 40px;
    text-align: center;
}
.header_text_top {
    float: right;
}
.header_text_top p  {
    padding: 20px;
    font-size: 18px;
}
.header_text_top h2 {
    font-size: 28px;
    padding-right: 60px;
    text-align: right;
}

.topnav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 70px;
}

.search_box {
  height: 40px;
  border-radius: 40px;
  align-items: center;
}
.search_btn {
    font-size: 20px;
    color: #6152EE;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_txt {
    border: 1px solid #6152EE;
    border-radius: 40px;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: #8A31E2;
    font-size: 18px;
    transition: 0.4s;
    line-height: 30px;
    width: 350px;
    padding: 5px;
}
.logo p {
    font-size: 30px;
}
.slideshow-container, .fade {
    height: 420px;
    width: 800px;
}
.slideshow-container .mylides {
    background-size: cover;
}
.menu {
    font-size: 18px;
}
.menu  a:not(:last-child){
    padding: 20px;
}
.menu a:hover:not(:last-child) {
    color: #6152EE;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover {
    background-color: #6152EE;
}
.prev_icon {
    display: flex;
    justify-content: space-around;
}
.prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    color: rgb(44, 48, 255);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
/* Main part */
body {
	font-family: 'Roboto', sans-serif;
    max-width: 1400px;
    margin: auto;
    background-color: #f8f8f8;
}
h2  {
    font-size: 25px;
    text-align: center;
    color: #8A31E2;
}
h3  {
	font-size: 35px;
	text-align: center;
	color: #8A31E2;
}
h4 {
	font-size: 22px;
	color: #6152EE;
	text-align: center;
}
.events_branch {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    padding: 0 50px 50px 50px;
}
.event_box {
    margin: 20px;
    border-bottom: 3px  #6152EE;
    border-style: none none solid ridge;
}
.event_box p {
    margin: 20px;
}
.news_page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-bottom: 30px;

}
.news_card {
    position: relative;
    margin: 10px;
}
.news_img {
    opacity: 1;
    display: block;
    width: 400px;
    height: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.news_par {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 400px;
    height: auto;
    transform: translate(0, -50%);

    text-align: center;
}
.news_card:hover .news_img {
    opacity: .1
}
.news_card:hover .news_par {
    opacity: 2;
}
.news_par p {
    color: #6152EE;
    font-size: 17px;
    padding: 16px 25px;
}
textarea {
    height: 100px;
}
.form-control {
	width: 50%;
    background: transparent;
    outline: none;
    border: 1px solid #6152EE;
    border-radius: 30px;
    color: #000;
    font-size: 16px;
    margin: 20px;
    padding: 15px;
}
.submit {
	width: 300px;
    background: transparent;
    outline: none;
    border: 1px solid #6152EE;
    border-radius: 30px;
    color: #000;
    margin: 20px;
    padding: 15px;
}
.submit:hover {
	background: #8A31E2;
}
.submit_form {
	    text-align: center;
}
.our_platform {
	display: flex;
	justify-content: space-around;
}
.img_platform img, .text_platform{
	width: 70%;
	margin: 50px;
}
.text_platform {
	text-align: center;
}
.text_platform p {
    margin: 15px;
}
.text_platform a {
	font-size: 18px;
	text-decoration: none;
	color: #000;
	border: 1px solid #6152EE;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}
.text_platform a:hover {
	background: #8A31E2;
}
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
.success {
    padding: 20px;
    background-color: green;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
